@tailwind base;
@tailwind components;
@tailwind utilities;

.active-button {
  background-color: #657e8c;
  color: white;
  border: none;
}

.disabled-link {
  opacity: 50%;
}

.tagify {
  width: 100%;
  max-width: 700px;
}

.clean-button {
  border-color: #657e8c;
  border-width: 2px;
  padding: 0.5rem;
}
